body {
 
  background-color: #fcdb23}


#quote-box{
  z-index: 5;
  border-radius:30px;
  font-size: 18pt;
  font-family: 'Kalam', cursive;
  position: relative;
  margin:15% 20% 10% 20%;
  padding: 5% 5% 5% 5%; 
  display:table;
  opacity:0.9 ;
  background-color: white;
}

#quote{
  z-index: 5;
  color: #fcdb23;
}

#author{
  z-index: 5;
  color: #fcdb23;
}

#quotebtn {
  font-size: 18pt;
  font-family: 'Kalam', cursive;
  z-index: 5;
  position: relative;
  left: 50%;
  top: 60%;
 color: #fcdb23;
}
#shared{
  font-size: 18pt;
  font-family: 'Kalam', cursive;
  z-index: 5;
  position: relative;
  left: 15%;
  top: 60%;
  color: #fcdb23;
}
#background-title {
  z-index: -10;
  position: background;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 112px;
  margin: -5% -20% -50% 0% ;
  padding-left: 10%;
  opacity: 0.5;
}
#claimed {
  position: relative;
  float: center;
  margin: auto 40% auto 40%;
}

