
body {background-image:url("https://res.cloudinary.com/lkgurh0x1/image/upload/v1481755393/IMG_1709_rgh5n9.jpg");
  padding: 100px 150px 100px 150px;
  background-size: cover;
  
  align:center;
}
body {
  color:#6C520D; 
}
div2 {
  color:black;
}